/*--------------------------------------------------------------------- File Name: style.css ---------------------------------------------------------------------*/




html {
     scroll-behavior: smooth;
     overflow-x: hidden !important;
}

body {
     color: #666666;
     font-size: 14px;
     font-family: Raleway;
     line-height: 1.80857;
     font-weight: normal;
     overflow-x: hidden !important;
}

a {
     color: #1f1f1f;
     text-decoration: none !important;
     outline: none !important;
     
}

h1 {
     letter-spacing: 0;
     font-weight: normal;
     position: relative;
     padding: 0 0 10px 0;
     font-weight: normal;
     line-height: normal;
     color: #111111;
     margin: 0
}

h1 {
     font-size: 24px
}

h1 a {
     color: #212121;
     text-decoration: none!important;
     opacity: 1
}

button:focus {
     outline: none;
}

p {
     margin: 20px;
     font-weight: 300;
     font-size: 15px;
     line-height: 24px;
}

a {
     color: #222222;
     text-decoration: none;
     outline: none !important;
}

img {
     max-width: 100%;
     height: auto;
}

.long_text{
	width: 100%;
	float: left;
	font-size: 20px;
	color: #060606;
	text-align: center;
}

.about_section {
    width: 100%;
    float: left;
    background-color: #000;
    margin-top: 70px;
}

.about_taital {
    width: 80%;
    float: right;
    margin-top: 20px;
}

.about_text {
    width: 100%;
    float: left;
    font-size: 40px;
    color: #ffffff;
    font-weight: bold;
}

.about_section_2{
    width: 100%;
    float: left;
}



.about_text_2 {
    width: 19%;
    margin: 0 auto;
    text-align: center;
    font-size: 40px;
    color: #0b0e13;
    border-bottom: 1px solid #49bcfe;
    text-align: center;
}





.long_text_2 {
    width: 100%;
    float: left;
    font-size: 20px;
    color: #ffffff;
    margin-left: 0px;
    padding-top: 30px;
}

.about_bt {
    width: 34%;
    float: left;
    font-size: 19px;
    color: #ffffff;
    border-radius: 5px;
    height: 100px;
    font-weight: bold;
    text-align: center;
    padding-top: 9px;
    margin-top: 40px;
}

.about_bt a {
    color: #ffffff;
}

.about_bt a:hover{ color: #000; }

.about_img {
    width: 100%;
    float: left;
}

.about_main{ width: 100%; float: left; margin-bottom: 80px; }








